{% extends "rkmusic/base.html" %}
{% load static %}
{% block content %}
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
				<div class="main">
					<div class="content-padding-2">
						<div class="container_12">
							<div class="wrapper">
								<div class="grid_12">
									<div class="padding-grid-1">
										<h3 class="letter">Our <strong>Music Videos</strong></h3>
									</div>
									<div class="wrapper indent-bot1">
										<article class="grid_4 alpha">
											<div class="padding-grid-2">
												<div class="wrapper p2">
													<figure class="style-img-2 fleft"><a class="lightbox-image" href="{% static 'video/video_AS3.swf' %}?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo]"><img src="{% static 'images/page3-img1.jpg' %}"  alt=""></a></figure>
												</div>
												<p class="prev-indent-bot2">Temporibus autem quibusdam</p>
												<a class="link-2" href="#"></a>
											</div>
										</article>
										<article class="grid_4 alpha">
											<div class="padding-grid-3">
												<div class="wrapper p2">
													<figure class="style-img-2 fleft"><a class="lightbox-image" href="{% static 'video/video_AS3.swf' %}?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo_1]"><img src="{% static 'images/page3-img2.jpg' %}"  alt=""></a></figure>
												</div>
												<p class="prev-indent-bot2">Temporibus autem quibusdam</p>
												<a class="link-2 link-style1" href="#"></a>
											</div>
										</article>
										<article class="grid_4 alpha">
											<div class="padding-grid-2">
												<div class="wrapper p2">
													<figure class="style-img-2 fleft"><a class="lightbox-image" href="{% static 'video/video_AS3.swf' %}?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo_2]"><img src="{% static 'images/page3-img3.jpg' %}"  alt=""></a></figure>
												</div>
												<p class="prev-indent-bot2">Temporibus autem quibusdam</p>
												<a class="link-2 link-style2" href="#"></a>
											</div>
										</article>
									</div>
									<div class="wrapper">
										<article class="grid_4 alpha">
											<div class="padding-grid-2">
												<div class="wrapper p2">
													<figure class="style-img-2 fleft"><a class="lightbox-image" href="{% static 'video/video_AS3.swf' %}?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo_3]"><img src="{% static 'images/page3-img4.jpg' %}"  alt=""></a></figure>
												</div>
												<p class="prev-indent-bot2">Temporibus autem quibusdam</p>
												<a class="link-2" href="#"></a>
											</div>
										</article>
										<article class="grid_4 alpha">
											<div class="padding-grid-3">
												<div class="wrapper p2">
													<figure class="style-img-2 fleft"><a class="lightbox-image" href="{% static 'video/video_AS3.swf' %}?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo_4]"><img src="{% static 'images/page3-img5.jpg' %}"  alt=""></a></figure>
												</div>
												<p class="prev-indent-bot2">Temporibus autem quibusdam</p>
												<a class="link-2 link-style1" href="#"></a>
											</div>
										</article>
										<article class="grid_4 alpha">
											<div class="padding-grid-2">
												<div class="wrapper p2">
													<figure class="style-img-2 fleft"><a class="lightbox-image" href="{% static 'video/video_AS3.swf' %}?width=495&amp;height=275&amp;fileVideo=intro06.flv" data-gal="prettyVideo[prettyVideo_5]"><img src="{% static 'images/page3-img6.jpg' %}"  alt=""></a></figure>
												</div>
												<p class="prev-indent-bot2">Temporibus autem quibusdam</p>
												<a class="link-2 link-style2" href="#"></a>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="block"></div>
</section>
{% endblock %}