{% extends "rkmusic/base.html" %}
{% load static %}
{% block content %}
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
				<div class="main">
					<div class="content-padding-2">
						<div class="container_12">
							<div class="wrapper">
								<div class="grid_12">
									<div class="padding-grid-1">
										<h3 class="letter">Our <strong>Gallery</strong></h3>
										<div id="js">
											<div class="js-padding">
												<div id="gallery" class="content">
													<div class="wrapper">
														<div class="slideshow-container">
															<div id="slideshow" class="slideshow"></div>
														</div>
													</div>
												</div>
											</div>
											<div id="thumbs" class="navigation">
												<ul class="thumbs noscript">
													{% for al in dataArray %}
													{% if al.counter == 0 %}
													<li class="last">
														<a class="thumb" href="{% url 'dirLevelTwo' name al.name|slugify %}" title=""> <img src="{% static 'images/thumb-1.jpg' %}" alt="" /> </a>
														<p class="prev-indent-bot2" style="font-size:15px;text-align:center;">{{al.name}}</p>
													</li>
													{% elif al.counter == 1 %}
													<li>
														<a class="thumb" href="{% url 'dirLevelTwo' name al.name|slugify %}" title=""> <img src="{% static 'images/thumb-2.jpg' %}" alt="" /> </a>
														<p class="prev-indent-bot2" style="font-size:15px;text-align:center;">{{al.name}}</p>
													</li>
													{% else %}
													<li>
														<a class="thumb" href="{% url 'dirLevelTwo' name al.name|slugify %}" title=""> <img src="{% static 'images/thumb-3.jpg' %}" alt="" /> </a>
														<p class="prev-indent-bot2" style="font-size:15px;text-align:center;">{{al.name}}</p>
													</li>

													{% endif %}	
													{% endfor %}
												</ul>
												<div class="clear"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="block"></div> -->
			</section>
{% endblock %}