{% extends "rkmusic/base.html" %}
{% load static %}
{% block content %}
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
				<div class="main">
					<div class="content-padding-2">
						<div class="container_12">
							<div class="wrapper">
								<div class="grid_8">
									<div class="padding-grid-1">
										<h3>Tour <strong>Dates</strong></h3>
									</div>	
									<div class="wrapper">
										<article class="grid_4 alpha">
											<div class="padding-grid-1">
												<div class="wrapper img-indent-bot2">
													<time class="time time-stule-2" datetime="2011-11-09"> <strong class="text-3">09</strong><strong class="text-4">nov</strong></time>
													<div class="extra-wrap">
														<h4 class="indent-top"><a href="#">New York</a></h4>
														Lorem ipsum dolor consctetur 
													</div>
												</div>
												<div class="wrapper img-indent-bot2">
													<time class="time time-stule-2" datetime="2011-11-05"> <strong class="text-3">05</strong><strong class="text-4">nov</strong></time>
													<div class="extra-wrap">
														<h4 class="indent-top"><a href="#">Los Angeles</a></h4>
														Adipisicing elitdo esmod tempor
													</div>
												</div>
												<div class="wrapper img-indent-bot2">
													<time class="time time-stule-2" datetime="2011-11-01"> <strong class="text-3">01</strong><strong class="text-4">nov</strong></time>
													<div class="extra-wrap">
														<h4 class="indent-top"><a href="#">San Diego</a></h4>
														Lorem ipsum dolor consctetur 
													</div>
												</div>
												<div class="wrapper img-indent-bot2">
													<time class="time time-stule-2" datetime="2011-10-31"> <strong class="text-3">31</strong><strong class="text-4">oct</strong></time>
													<div class="extra-wrap">
														<h4 class="indent-top"><a href="#">San Francisco</a></h4>
														Lorem ipsum dolor consctetur 
													</div>
												</div>
												<div class="wrapper img-indent-bot2">
													<time class="time time-stule-2" datetime="2011-10-29"> <strong class="text-3">29</strong><strong class="text-4">oct</strong></time>
													<div class="extra-wrap">
														<h4 class="indent-top"><a href="#">Washington</a></h4>
														Adipisicing elitdo esmod tempor 
													</div>
												</div>
												<div class="wrapper">
													<time class="time time-stule-2" datetime="2011-10-24"> <strong class="text-3">24</strong><strong class="text-4">oct</strong></time>
													<div class="extra-wrap">
														<h4 class="indent-top"><a href="#">Las Vegas</a></h4>
														Lorem ipsum dolor consctetur  
													</div>
												</div>
											</div>
										</article>
										<article class="grid_4 omega">
											<div class="padding-grid-4">
												<div class="margin-bot1">
													<span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
													<span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
												</div>
												<div class="margin-bot1">
													<span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
													<span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
												</div>
												<div class="margin-bot1">
													<span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
													<span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
												</div>
												<div class="margin-bot1">
													<span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
													<span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
												</div>
												<div class="margin-bot1">
													<span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
													<span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
												</div>
												<span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
												<span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
											</div>
										</article>
									</div>
								</div>
								<article class="grid_4 alpha">
									<div class="padding-grid-3">
										<h3>Past <strong>Tours</strong></h3>
										<ul class="list-3">
											<li><a href="#">Lorem ipsum dolor consctetur</a></li>
											<li><a href="#">Adipisicing eusmod tempor incididunt</a></li>
											<li><a href="#">Dolore magna aliqua enim ad minim</a></li>
											<li><a href="#">Quis nostrud exercitation ullamco laboris</a></li>
											<li><a href="#">Nisi ut aliquip ex ea commodo</a></li>
											<li><a href="#">Duis aute irure dolor in reprehenderit</a></li>
											<li><a href="#">Coluptate velit esse cillum</a></li>
											<li><a href="#">Dolore eu fugiat nulla pariatur</a></li>
											<li><a href="#">Excepteur sint occaecat cupidatat</a></li>
											<li><a href="#">Sunt in culpa qui officia</a></li>
											<li><a href="#">Deserunt mollit anim id est laborum</a></li>
										</ul>
									</div>
								</article>	
							</div>
						</div>
					</div>
				</div>
				<div class="block"></div>
			</section>
{% endblock %}